@font-face {
  font-family: "resphekt";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Resphekt-Regular.otf");
}

@font-face {
  font-family: "Dontmix";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dontmix.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.wrapper-song {
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  padding: 0 5vw;
  overflow: hidden;
  background-color: rgb(253, 251, 246);
}

.artist {
  font-family: resphekt;
  font-size: 2em;
  text-align: right;
  margin: 2vh 0 0;
  padding: 0;
}

.title {
  position: relative;
  font-family: resphekt;
  font-size: 3em;
  font-weight: lighter;
  margin: 0 0 5vh;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.title::before {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  height: 1px;
  left: 5%;
  bottom: -5px;
  background-color: black;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 1px;
  left: 10%;
  bottom: -8px;
  background-color: black;
}

.tabs {
  display: none;
}

.text {
  font-family: monospace;
  width: 80%;
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 5vh;
}

.text p {
  margin: 10px 0;
  min-height: 30px;
}

.chords {
  position: fixed;
  top: 35vh;
  font-family: Dontmix;
  left: 80%;
  font-weight: bold;
}

.back {
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  height: 7vh;
}

.back img {
  height: 100%;
}

@media (min-width: 360px) {
  .chords {
    padding-right: 2vw;
  }
}

@media (min-width: 768px) {
  .text {
    font-size: 0.8rem;
  }
}

@media (min-width: 500px) {
  .tabs {
    display: block;
    font-size: 0.5rem;
    font-family: monospace;
    width: 100%;
    margin-bottom: 7vh;
  }
}

@media (min-width: 1024px) {
  .wrapper-song {
    padding: 0 20vw;
  }
  .chords {
    padding-right: 20vw;
    left: 70%;
  }
}

@media (min-width: 1366px) {
  .text {
    font-size: 0.6em;
  }
}
