@font-face {
  font-family: "CAT Altgotisch";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Altgotisch.ttf")
}

@font-face {
  font-family: "resphekt";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Resphekt-Regular.otf")
}

body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

.wrapper {
  background: url('../images/bg.jpeg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "resphekt";
  text-transform: capitalize;
}

h2 {
  font-family: "CAT Altgotisch";
  font-size: 4.5rem;
  color: #634B29;
  font-weight: lighter;
  padding: 4vh 0 2vh
}

.search {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search img {
  height: 100%;
  margin-left: 20px;
}

.search input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #634B29;
  border-left: 2px solid #634B29;
  border-right: 2px solid #634B29;
  font-family: "resphekt";
  width: 50%;
  padding: 3px 10px;
  font-size: 1.4rem;
}

.index {
  list-style: none;
  text-align: left;
  padding: 0 20vw;
}

.index a {
  color: #634B29;
  text-decoration: none;
  font-size: 1.9rem;
}

@media(min-height: 731px) {
  html {
    font-size: 20px;
  }
}

@media(min-height: 823px) {
  html {
    font-size: 22px;
  }
}

@media(min-height: 996px) {
  html {
    font-size: 28px;
  }
}

@media(min-height: 1366px) {
  html {
    font-size: 36px;
  }
}

@media (orientation: landscape) {

  .wrapper {
    display: grid;
    grid-template-areas:
      "header index"
      "search index"
  }

  h2 {
    grid-area: header;
    padding: 0 0 10vh 2vw;
    margin: 0;
    align-self: end;
    justify-self: center;
  }

  .search {
    grid-area: search;
    align-self: start;
    justify-self: center;
    width: 100%;
  }

  .index {
    grid-area: index;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 45vw;
    overflow-y: scroll;
    padding: 5vh 2vw;
  }

  .index::-webkit-scrollbar {
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    width: 7px;
  }

  .index::-webkit-scrollbar-button {
    background-color: hsl(35, 41%, 27%, 0.5);
  }

  .index::-webkit-scrollbar-thumb {
    background-color: hsl(35, 41%, 27%, 0.4);
    opacity: .3;
  }

  .index li {
    display: block;
  }

}

@media (orientation: landscape) and (min-width: 823px) {
  html {
    font-size: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .index {
    padding-left: 10vw;
  }
}

@media (orientation: landscape) and (min-width: 1366px) {
  html {
    font-size: 30px;
  }
}